{% load i18n fb_tags fb_versions %}

{% for fileobject in page.object_list %}

    <!-- THUMBNAIL-VERSION FOR IMAGE-OBJECT -->
    {% if fileobject.filetype == "Image" %}
        {% version fileobject settings_var.ADMIN_THUMBNAIL as thumbnail_version %}
    {% endif %}

    <tr class="grp-row grp-row-even{% if fileobject.is_folder %} fb_folder{% endif %}">

        <!-- FILESELECT FOR FILEBROWSEFIELD -->
        {% if query.pop == "1" %}
            <td class="fb_icon">
                {% if not query.type or query.type in fileobject.format %}
                    <!-- select original -->
                    <button class="grp-button fb_selectlink" onclick="FileSubmit('{{ fileobject.path }}', '{{ fileobject.url }}', '{{ thumbnail_version.url }}', '{{ fileobject.filetype }}');">{% trans "Select" %}</button>
                    <!-- select versions -->
                    {% if fileobject.filetype == "Image" and settings_var.ADMIN_VERSIONS %}
                        <div class="grp-pulldown-versions-container">
                            <a href="javascript://" class="grp-pulldown-versions-handler" title="{% trans "Versions" %}">&nbsp;</a>
                            <ul class="grp-pulldown-versions">
                                {% for version in settings_var.ADMIN_VERSIONS %}
                                    {% version_setting version %}
                                    <li><a href="{% url 'filebrowser:fb_version' %}{% query_string '' 'filename, dirname' %}&amp;dir={{ fileobject.dirname|urlencode }}&amp;filename={{ fileobject.filename|urlencode }}&amp;version={{ version }}" title="">{{ version_setting.verbose_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}

        <!-- FILESELECT FOR RTE/TINYMCE -->
        <!-- we need to use the absolute url here -->
        {% if query.pop == "2" or query.pop == "4" %}
            <td class="fb_icon">
                {% if not query.type or query.type in fileobject.format %}
                    <!-- select original -->
                    <button class="grp-button fb_selectlink" onclick="FileBrowserDialogue.fileSubmit('{{ fileobject.url|escapejs }}');">{% trans "Select" %}</button>
                    <!-- select versions -->
                    {% if fileobject.filetype == "Image" and settings_var.ADMIN_VERSIONS %}
                        <div class="grp-pulldown-versions-container">
                            <a href="javascript://" class="grp-pulldown-versions-handler" title="{% trans "Versions" %}">&nbsp;</a>
                            <ul class="grp-pulldown-versions">
                                {% for version in settings_var.ADMIN_VERSIONS  %}
                                    {% version_setting version %}
                                    <li><a href="{% url 'filebrowser:fb_version' %}{% query_string '' 'filename' %}&amp;filename={{ fileobject.filename|urlencode }}&amp;version={{ version }}" title="">{{ version_setting.verbose_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}

        <!-- FILESELECT FOR CKEDITOR -->
        {% if query.pop == "3" %}
            <td class="fb_icon">
                {% if not query.type or query.type in fileobject.format %}
                    <!-- select original -->
                    <button class="grp-button fb_selectlink" onclick="OpenFile(ProtectPath('{{ fileobject.url|escapejs }}'));return false;">{% trans "Select" %}</button>
                    <!-- select versions -->
                    {% if fileobject.filetype == "Image" and settings_var.ADMIN_VERSIONS %}
                        <div class="grp-pulldown-versions-container">
                            <a href="javascript://" class="grp-pulldown-versions-handler" title="{% trans "Versions" %}">&nbsp;</a>
                            <ul class="grp-pulldown-versions">
                                {% for version in settings_var.ADMIN_VERSIONS  %}
                                    {% version_setting version %}
                                    <li><a href="" title="" onclick="OpenFile(ProtectPath('{% version fileobject version %}'));return false;">{{ version_setting.verbose_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}

        <!-- MULTISELECT -->
        {% if query.pop == "101" %}
            <td class="fb_icon">
            {% if not query.type or query.type in fileobject.format %}
                <input type="checkbox" name="multi_select" data-file='{"path": "{{ fileobject.path }}", "url": "{{ fileobject.url }}", "thumbnail_version": "{{ thumbnail_version.url }}", "filetype": "{{ fileobject.filetype }}" }'>
            {% else %}
                &nbsp;
            {% endif %}
            </td>
        {% endif %}

        <!-- FILEICON -->
        <td>
            {% if fileobject.filetype %}
                <span class="fb_type {{ fileobject.filetype|lower }}">{% trans fileobject.filetype %}</span>
            {% else %}
                <span class="fb_type none">&mdash;</span>
            {% endif %}
        </td>

        <!-- THUMBNAIL -->
        <td class="fb_thumbnail">
            {% if fileobject.filetype == "Image" %}
                <a href="{{ fileobject.url }}" class="fb_viewlink"><img src="{{ thumbnail_version.url }}" title="{% trans 'View Image' %}" /></a>
            {% endif %}
        </td>

        <!-- FILENAME/DIMENSIONS -->
        {% if fileobject.is_folder %}
            <td><a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "q,dir,p" %}&amp;dir={{ fileobject.path_relative_directory|urlencode }}"><strong>{{ fileobject.filename }}</strong></a></td>
        {% else %}
            <td>
                <strong>{{ fileobject.filename }}</strong>
                {% if fileobject.dimensions %}
                    <br /><span class="small">{{ fileobject.dimensions.0 }} x {{ fileobject.dimensions.1 }} px</span><br clear="all" />
                {% endif %}
            </td>
        {% endif %}

        <!-- FOLDER -->
        {% if query.q and settings_var.SEARCH_TRAVERSE %}
            <td><a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "dir,p" %}&amp;dir={{ fileobject.dirname|urlencode }}"><strong>{{ fileobject.dirname }}</strong></a></td>
        {% endif %}

        <!-- SIZE -->
        <td><span class="small">{% if fileobject.filesize %}{{ fileobject.filesize|filesizeformat }}{% else %}&mdash;{% endif %}</span></td>

        <!-- DATE -->
        <td><span class="small">{{ fileobject.datetime|date:"N j, Y" }}</span></td>

        <!-- EDIT -->
        <td>
            <ul class="grp-actions">
                <li class="grp-change-link"><a href="{% url 'filebrowser:fb_detail' %}{% query_string "" "p,dir" %}&dir={{ fileobject.dirname|urlencode }}&amp;filename={{ fileobject.filename|urlencode }}"><strong>{% trans "Change" %}</strong></a></li>
            </ul>
        </td>

    </tr>
{% endfor %}

<footer class="grp-module grp-submit-row grp-fixed-footer" id="add_all_button" hidden>
    <ul>
        <li><input type="submit" value="{% trans "Insert selected" %}" class="grp-button grp-default" name="_add_all" onclick="AddSelected()"></li>
    </ul>
</footer>

<script type="text/javascript">
    var input_id = window.name.replace(/____/g,'-').split("___").join(".");
    var input_data = input_id.match(/id_(.+)-(\d+)-image/);
    var inlines_name = input_data[1];
    var start_index = parseInt(input_data[2]);
    var inline_group_opener = opener.document.querySelector('#' + inlines_name + '-group');
    var add_button_opener = inline_group_opener.querySelector('a.grp-add-handler');
    var add_multiple_button_opener = inline_group_opener.querySelector('a#add_multiple_button');
    var add_all_button = document.querySelector('#add_all_button');
    
    
    var files_list = [];
    var inp = document.querySelectorAll('input[name="multi_select"]');

    for (var i=0; i < inp.length; i++) {
        inp[i].onchange = onChange;
    }

    function onChange(e){
        var file = JSON.parse(e.target.dataset.file);
        if (e.target.checked) {
            files_list.push(file);
        } else {
            var i = files_list.findIndex(obj => obj.path === file.path);
            files_list.splice(i, 1);
        }
        add_all_button.hidden = !Object.keys(files_list).length;
    }

    function AddSelected(){
        var el,
            current_inline,
            input_id,
            current_index = start_index
            ;

        for (var i = 0; i < files_list.length; i++) {
            add_button_opener.click();
            current_inline = inline_group_opener.querySelector('#' + inlines_name + current_index);
            input_id = 'id_' + inlines_name + '-' + current_index + '-image';
            
            var preview_id = 'preview_' + input_id;
            var previewlink_id = 'previewlink_' + input_id;
            var previewimage_id = 'previewimage_' + input_id;
            var input = current_inline.querySelector('#' + input_id);
            var preview = opener.document.getElementById(preview_id);
            var previewlink = opener.document.getElementById(previewlink_id);
            var previewimage = opener.document.getElementById(previewimage_id);

            input.value = files_list[i].path;

            if (files_list[i].thumbnail_version && files_list[i].filetype != "") {
                // selected file is an image and thumbnail is available:
                // display the preview-image (thumbnail)
                // link the preview-image to the original image
                previewlink.setAttribute("href", files_list[i].url);
                previewlink.setAttribute("target", "_blank");
                previewimage.setAttribute("src", files_list[i].thumbnail_version);
                preview.setAttribute("style", "display:block");
            }
            current_index++;
        }

        opener.set_multiple_button_href(add_multiple_button_opener, inlines_name, current_index);

        this.close();
        
    }

    // select all
    var chbx_all = document.querySelector('#select-all-images');
    chbx_all.addEventListener('change', function(){
        files_list = {};
        if (chbx_all.checked) {
            for (var i=0; i < inp.length; i++) {
                var th_inp = inp[i];
                files_list[i] = JSON.parse(th_inp.dataset.file);
                th_inp.checked = true;
            }
            add_all_button.hidden = false;
        } else {
            for (var i=0; i < inp.length; i++) {
                inp[i].checked = false;
            }
            add_all_button.hidden = true;
        }   
    });
    
</script>
<style type="text/css">
    [hidden] {
        display: none;
    }
</style>